<div class="bg-background mt-20 max-w-[700px] px-6">
    <!-- DIVIDER -->
    <div class="flex w-fit flex-col">
        <div class="bg-primary h-px"></div>
        <h1 class="text-secondary mt-1 text-sm">CONTACT</h1>
    </div>
    <!-- TEXT -->
    <div class="mt-12">
        <h1 class="text-primary text-2xl font-bold">
            Would you like me to join your team or tell me about your project?
        </h1>

        <h2 class="text-secondary mt-2 text-sm font-normal">
            I'm always open to chatting about new opportunities, interesting
            projects, or just connecting with other developers.
        </h2>
    </div>
    <!-- CONTACT FORM -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="border-border mt-8 rounded-xl border p-4">
            <!-- NAME -->
            <div class="flex flex-col">
                <label class="text-primary text-sm font-bold">Name</label>
                <input
                    formControlName="name"
                    inputmode="text"
                    type="text"
                    placeholder="Enter your name"
                    class="border-border placeholder:text-secondary focus:outline-border text-primary font-roboto mt-0.5 rounded-md border px-2 py-1 text-xs placeholder:text-xs focus:outline-2"
                />
                <div class="flex h-[15px] items-center">
                    @if (formUtils.isValidField(contactForm, 'name')) {
                        <span class="text-error pl-2 text-[8px] italic">
                            {{ formUtils.getFieldError(contactForm, 'name') }}
                        </span>
                    }
                </div>
            </div>
            <!-- EMAIL -->
            <div class="flex flex-col">
                <label class="text-primary text-sm font-bold">Email</label>
                <input
                    formControlName="email"
                    inputmode="email"
                    type="text"
                    placeholder="Enter your email address"
                    class="border-border placeholder:text-secondary focus:outline-border text-primary font-roboto mt-0.5 rounded-md border px-2 py-1 text-xs placeholder:text-xs focus:outline-2"
                />
                <div class="flex h-[15px] items-center">
                    @if (formUtils.isValidField(contactForm, 'email')) {
                        <span class="text-error pl-2 text-[8px]">
                            {{ formUtils.getFieldError(contactForm, 'email') }}
                        </span>
                    }
                </div>
            </div>
            <!-- MESSAGE -->
            <div class="flex flex-col">
                <label class="text-primary text-sm font-bold">Message</label>
                <textarea
                    formControlName="message"
                    inputmode="text"
                    type="text"
                    placeholder="Enter your message"
                    class="border-border placeholder:text-secondary focus:outline-border text-primary font-roboto mt-0.5 resize-none rounded-md border px-2 py-1 text-xs placeholder:text-xs focus:outline-2"
                ></textarea>
                <div class="flex h-[15px] items-center">
                    @if (formUtils.isValidField(contactForm, 'message')) {
                        <span class="text-error pl-2 text-[8px]">
                            {{
                                formUtils.getFieldError(contactForm, 'message')
                            }}
                        </span>
                    }
                </div>
            </div>

            <!-- SEND BUTTON -->

            <button
                type="submit"
                class="mt-6 flex w-full items-baseline justify-center gap-3 rounded-md py-2 text-sm font-medium"
                [ngClass]="{
                    'bg-primary': status() === 'idle' || status() === 'loading',
                    'bg-green-500': status() === 'success',
                    'bg-red-500': status() === 'error',
                }"
            >
                <i [class]="getIconClass()"></i>
                <span class="text-background text-sm font-medium">
                    {{ getButtonText() }}
                </span>
            </button>
        </div>
    </form>

    <!-- CV BUTTON -->
    <a
        href="https://drive.google.com/file/d/11chTFyjiFPGTqJSPvjPOPDoT8c64cYgh/view"
        target="_blank"
        class="border-border mt-6 flex w-full items-center justify-center gap-3 rounded-md border py-2"
    >
        <i class="fa-solid fa-download text-primary text-sm font-medium"></i>
        <span class="text-primary text-sm font-medium">Download CV</span>
    </a>
    <!-- SOCIALS -->
    <div class="my-6 flex items-baseline justify-center gap-3">
        <a
            href="https://github.com/ismaelplg"
            target="_blank"
            class="border-border rounded border px-1.5 py-0.5"
        >
            <i class="fa-brands fa-github text-primary"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/ismaelplg/"
            target="_blank"
            class="border-border rounded border px-1.5 py-0.5"
        >
            <i class="fa-brands fa-linkedin-in text-primary"></i>
        </a>
    </div>
</div>
