<div class="bg-background max-w-[700px] px-6 py-20">
    <!-- DIVIDER -->
    <div class="flex w-fit flex-col">
        <div class="bg-primary h-px"></div>
        <h1 class="text-secondary mt-1 text-sm">CONTACT</h1>
    </div>
    <!-- TEXT -->
    <div class="mt-12">
        <h1 class="text-primary text-2xl font-bold">
            Would you like me to join your team or tell me about your project?
        </h1>

        <h2 class="text-secondary mt-2 text-sm font-normal">
            I'm always open to chatting about new opportunities, interesting
            projects, or just connecting with other developers.
        </h2>
    </div>
    <!-- CONTACT FORM -->
    <div class="border-border mt-8 rounded-xl border p-4">
        <!-- NAME -->
        <div class="flex flex-col">
            <label class="text-primary text-sm font-bold">Name</label>
            <input
                inputmode="text"
                type="text"
                placeholder="Your name"
                class="border-border placeholder:text-secondary focus:outline-border text-primary font-roboto mt-0.5 rounded-md border px-2 py-1 text-base focus:outline-2"
            />
            <span class="text-error mt-0.5 h-[15px] pl-2 text-[10px]"
                >Name required</span
            >
        </div>
        <!-- SEND BUTTON -->
        <button
            class="bg-primary mt-6 flex w-full items-center justify-center gap-3 rounded-md py-2"
        >
            <i class="fa-regular fa-envelope text-background"></i>
            <span class="text-background text-sm font-medium"
                >Send message</span
            >
        </button>
    </div>
    <!-- CV BUTTON -->
    <button
        class="border-border mt-6 flex w-full items-center justify-center gap-3 rounded-md border py-2"
    >
        <i class="fa-solid fa-download text-primary text-sm font-medium"></i>
        <span class="text-primary text-sm font-medium">Download CV</span>
    </button>
    <!-- SOCIALS -->
    <div class="mt-6 flex items-baseline justify-center gap-3">
        <a
            href="https://github.com/ismaelplg"
            target="_blank"
            class="border-border rounded border px-1.5 py-0.5"
        >
            <i class="fa-brands fa-github text-primary"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/ismaelplg/"
            target="_blank"
            class="border-border rounded border px-1.5 py-0.5"
        >
            <i class="fa-brands fa-linkedin-in text-primary"></i>
        </a>
    </div>
</div>
