<shared-container title="Certifications">
  <div>
    <div
      class="text-bone grid grid-cols-2 gap-1 pb-4 text-xs md:flex md:justify-center"
    >
      <!-- FILTERS -->
      <button
        class="hover:bg-accent border-bone/10 rounded-md border-2 px-4 py-2 transition-all duration-300"
        [ngClass]="{
          'bg-accent border-bone/100 text-white': selectedFilter() === 'all',
        }"
        (click)="selectedFilter.set('all')"
      >
        All
      </button>
      <button
        class="hover:bg-accent border-bone/10 rounded-md border-2 px-4 py-2 transition-all duration-300"
        [ngClass]="{
          'bg-accent text-white': selectedFilter() === 'completed',
        }"
        (click)="selectedFilter.set('completed')"
      >
        Completed
      </button>
      <button
        class="hover:bg-accent border-bone/10 rounded-md border-2 px-4 py-2 transition-all duration-300"
        [ngClass]="{
          'bg-accent text-white': selectedFilter() === 'reviewing',
        }"
        (click)="selectedFilter.set('reviewing')"
      >
        Reviewing
      </button>
      <button
        class="hover:bg-accent border-bone/10 rounded-md border-2 px-4 py-2 transition-all duration-300"
        [ngClass]="{
          'bg-accent text-white': selectedFilter() === 'in-progress',
        }"
        (click)="selectedFilter.set('in-progress')"
      >
        In Progress
      </button>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
      @for (certification of filteredCertification(); track $index) {
        <div
          class="border-secondary flex h-full flex-col justify-between rounded-md border p-4 shadow-2xl"
        >
          <div class="flex items-end justify-between">
            <h1 class="text-bone text-xl font-bold capitalize">
              {{ certification.course }}
            </h1>
          </div>

          <h3 class="text-tertiary text-sm font-medium">
            {{ certification.teacher }}
          </h3>
          <h3 class="text-gray font-medium">
            {{ certification.year }}
          </h3>
          <div class="flex items-center justify-between gap-4 py-2">
            <div class="flex items-center gap-3">
              <span
                class="text-bone text-[10px] uppercase"
                [ngClass]="{
                  'text-success': certification.status === 'completed',
                  'text-warn': certification.status === 'reviewing',
                  'text-pending': certification.status === 'in-progress',
                }"
              >
                {{ certification.status }}
              </span>
              <div>
                <i
                  class="fa-solid text-bone"
                  [ngClass]="{
                    'fa-circle-check text-success':
                      certification.status === 'completed',
                    'fa-ellipsis text-pending animate-pulse':
                      certification.status === 'in-progress',
                    'fa-rotate-right text-warn':
                      certification.status === 'reviewing',
                  }"
                ></i>
              </div>
            </div>
            <div class="flex items-center gap-3">
              @if (certification.techIcon) {
                @for (techIcon of certification.techIcon; track $index) {
                  <img class="h-6" src="{{ techIcon }}" alt="icon" />
                }
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</shared-container>
