<div class="bg-background px-6 py-10 xl:px-[550px]">
    <!-- NAME & DESC -->
    <div class="lg:landscape:w-4/6">
        <h1
            class="text-primary font-roboto text-4xl font-bold lg:landscape:text-6xl"
        >
            Ismael <span class="text-secondary font-light">López</span>
        </h1>
        <h2 class="text-primary -mt-2 lg:landscape:text-2xl">
            Front End Developer
        </h2>

        <div class="text-secondary mt-4 text-sm lg:landscape:text-lg">
            I build accessible web interfaces with attention to technical
            detail. I value collaborating across teams to transform designs into
            performant, user-friendly experiences through clean code and
            effective teamwork.
        </div>
    </div>
    <!-- SOCIALS -->
    <div class="flex items-center gap-4 pt-6">
        <a
            href="#projects"
            class="bg-primary hover:bg-primary/90 flex items-center justify-between gap-2 rounded-md px-4 py-2 transition-all duration-200 ease-in-out"
        >
            <span class="text-background text-sm font-medium"
                >Ver mi trabajo</span
            >
            <i class="fa-solid fa-arrow-down text-background text-xs"></i>
        </a>
        <div class="flex items-baseline gap-4">
            <i class="fa-brands fa-github text-primary"></i>
            <i class="fa-brands fa-linkedin-in text-primary"></i>
            <i class="fa-regular fa-envelope text-primary"></i>
        </div>
    </div>
</div>
