<div class="bg-background py-10 px-6">
  <!-- NAME & DESC -->
  <div class="">
    <h1 class="text-text-primary font-roboto font-bold text-4xl">
      Ismael <span class="text-text-secondary font-light">López</span>
    </h1>
    <h2 class="text-text-primary -mt-2">Front End Developer</h2>

    <div class="text-text-secondary text-sm mt-4">
      Construyo experiencias digitales accesibles y pixel-perfect para la web. Mi trabajo favorito
      está en la intersección del diseño y el desarrollo, creando interfaces que no solo se ven
      increíbles sino que están meticulosamente construidas para rendimiento y usabilidad.
    </div>
  </div>
  <!-- SOCIALS -->
  <div class="flex items-center gap-4 pt-10">
    <button
      class="bg-text-primary px-4 py-2 rounded-md flex items-center justify-between gap-2 hover:bg-text-primary/90 transition-all duration-200 ease-in-out"
    >
      <span class="text-background text-sm font-medium">Ver mi trabajo</span>
      <i class="fa-solid fa-arrow-down text-xs text-background"></i>
    </button>
    <div class="flex items-baseline gap-4">
      <i class="fa-brands fa-github text-text-primary"></i>
      <i class="fa-brands fa-linkedin-in text-text-primary"></i>
      <i class="fa-regular fa-envelope text-text-primary"></i>
    </div>
  </div>
</div>
