<!-- SIDEPANEL -->
@if (sidepanelService.isToggled()) {
    <div
        class="bg-background border-border border-b py-6 lg:hidden"
        [animate.enter]="'animate-slide-in'"
        [animate.leave]="'animate-slide-out'"
    >
        <div
            class="flex flex-col gap-3 px-6"
            (click)="sidepanelService.toggleSidepanel()"
        >
            <a href="#home">
                <span class="text-secondary text-sm">Home</span>
            </a>

            <a href="#about">
                <span class="text-secondary text-sm">About Me</span>
            </a>

            <a href="#projects">
                <span class="text-secondary text-sm">Projects</span>
            </a>

            <a href="#experience">
                <span class="text-secondary text-sm">Experience</span>
            </a>

            <a href="#contact">
                <span class="text-secondary text-sm">Contact</span>
            </a>
        </div>

        <div
            class="border-border text-text-primary mx-6 mt-4 flex items-center justify-center rounded border"
        >
            <a href="#contact" (click)="sidepanelService.toggleSidepanel()">
                <h1 class="text-primary py-1 font-medium">Let's talk!</h1>
            </a>
        </div>
    </div>
}
