<nav
  class="bg-background border-border z-50 flex items-center justify-between border-b px-5 py-2 lg:flex xl:px-[550px]"
>
  <div class="flex items-center justify-between">
    <shared-logotype />
  </div>
  <!-- TABLET LINKS -->
  <div class="hidden lg:block">
    <div class="flex gap-10 px-6" (click)="sidepanelService.toggleSidepanel()">
      <a href="#home">
        <span class="text-secondary text-sm">Home</span>
      </a>

      <a href="#about">
        <span class="text-secondary text-sm">About Me</span>
      </a>

      <a href="#projects">
        <span class="text-secondary text-sm">Projects</span>
      </a>
    </div>
  </div>
  <!-- HAMBURGER/CLOSE TOGGLE - CHANGE THEME -->
  <div class="flex cursor-pointer items-center gap-4">
    <div
      class="flex items-center justify-center p-2"
      (click)="themeService.toggleTheme()"
    >
      <i
        [class]="
          themeService.isDark()
            ? 'text-secondary fa-solid fa-sun text-lg'
            : 'text-secondary fa-solid fa-moon text-lg'
        "
        class="text-secondary transition-all duration-300 ease-in-out"
        [style.transform]="
          themeService.isDark() ? 'rotate(90deg)' : 'rotate(0deg)'
        "
      ></i>
    </div>
    <div
      class="flex w-[25px] cursor-pointer items-center justify-center gap-2 md:hidden"
      (click)="sidepanelService.toggleSidepanel()"
    >
      <i
        [class]="
          sidepanelService.isToggled()
            ? 'text-secondary fa-solid fa-xmark text-xl'
            : 'text-secondary fa-solid fa-bars text-xl'
        "
        class="transition-all duration-300 ease-in-out"
        [style.transform]="
          sidepanelService.isToggled() ? 'rotate(90deg)' : 'rotate(0deg)'
        "
      ></i>
    </div>
  </div>
</nav>

<shared-sidepanel class="fixed -z-10 w-full" />
