<nav
  class="text-bone bg-primary border-tertiary/20 z-10 flex justify-between border-b-2 px-4 py-4"
>
  <a routerLink="/">
    <img class="h-10" src="/icons/MajesticonsPlanet.svg" alt="icon" />
  </a>
  <div
    class="text-bone text-md hidden items-center gap-2 font-medium uppercase lg:flex"
  >
    <a
      routerLink=""
      routerLinkActive="bg-accent rounded-md"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-2 px-6 py-2"
    >
      <h1>Home</h1>
    </a>
    <a
      routerLink="/experience"
      routerLinkActive="bg-accent rounded-md"
      class="flex items-center gap-2 px-6 py-2"
    >
      <h1>Experience</h1>
    </a>
    <a
      routerLink="/certifications"
      routerLinkActive="bg-accent rounded-md"
      class="flex items-center gap-2 px-6 py-2"
    >
      <h1>Certifications</h1>
    </a>
    <!-- <a
      routerLink="/portfolio"
      routerLinkActive="bg-accent rounded-md"
      class="flex items-center gap-2 px-6 py-2"
    >
      <h1>Portfolio</h1>
    </a> -->
  </div>

  <div class="flex items-center gap-4">
    @if (!sidepanelService.sidePanelOpenSignal()) {
      <button
        class="bg-secondary hover:bg-accent rounded-md px-4 py-2 transition-all duration-300"
        [@fadeInOutAnimation]
      >
        <a
          href="https://drive.google.com/file/d/1tGoojJ7A7UYahUwjD4suzmEkOR8Nh4TZ/view?usp=sharing"
          target="_blank"
        >
          <div>Get my CV</div>
        </a>
      </button>
      <button (click)="toggleSidepanel()" class="lg:hidden">
        <i class="fa-solid fa-bars" [@fadeInOutAnimation]></i>
      </button>
    }
  </div>
</nav>
