<!-- <nav class="max-w-[500px] bg-stone-950/50 rounded-lg shadow-2xl text-2xl">
  <div class="flex items-center gap-4">
    <a routerLink="/" class="w-full flex items-center justify-center py-4 rounded-bl-lg rounded-tl-lg"
      routerLinkActive="text-[#cccccc] bg-stone-900/90 " [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-house"></i>
    </a>
    <a routerLink="/work" class="w-full flex items-center justify-center py-4"
      routerLinkActive="text-[#cccccc] bg-stone-900/90">
      <i class="fa-solid fa-user "></i>
    </a>
    <a routerLink="/contact" class="w-full flex items-center justify-center py-4"
      routerLinkActive="text-[#cccccc] bg-stone-950/90">
      <i class="fa-solid fa-envelope"></i>
    </a>

    <a routerLink="/socials" class="w-full flex items-center justify-center py-4 rounded-tr-lg rounded-br-lg"
      routerLinkActive="text-[#cccccc] bg-stone-900/90">
      <i class="fa-solid fa-share-nodes"></i>
    </a>
  </div>
</nav> -->

<nav class="flex items-center justify-between px-4 py-4 border border-red-600 fixed w-full text-bone">
  <a routerLink="/">
    <img class="h-10" src="/icons/MajesticonsPlanet.svg" alt="icon">
  </a>
  <a href="https://www.youtube.com/watch?v=OCJi5hVdiZU" target="_blank">
    <div class="bg-secondary px-4 py-2 rounded-md hover:bg-accent">Get my CV</div>
  </a>

</nav>