<div
  class="z-0 bg-[url(/images/low-poly-grid-haikei.svg)] bg-cover bg-center 2xl:flex 2xl:h-screen 2xl:flex-col 2xl:items-center 2xl:justify-center 2xl:gap-4"
>
  <div
    class="absolute z-10 hidden h-screen w-full 2xl:block 2xl:bg-black/30"
  ></div>

  <div
    class="z-30 flex h-screen w-full flex-col overflow-hidden shadow-2xl 2xl:h-[900px] 2xl:w-[1500px] 2xl:rounded-xl"
  >
    <shared-navbar />
    <shared-sidepanel />
    <div class="flex-1 overflow-y-auto">
      <router-outlet />
    </div>
  </div>
  <div class="text-accent hidden items-center justify-end gap-2 px-6 2xl:flex">
    <h3 class="text-tertiary text-sm normal-case">
      Built <span class="text-accent">with</span>
    </h3>
    <a href="https://angular.dev/" target="_blank">
      <img class="h-6" src="/icons/angular.svg" alt="angular" />
    </a>
    <a href="https://tailwindcss.com/" target="_blank">
      <img class="h-6" src="/icons/tailwindcss.svg" alt="tailwind" />
    </a>
  </div>
</div>
