<div class="bg-background">
    <div class="fixed top-0 w-full">
        <shared-navbar />
    </div>

    <shared-container class="pt-20">
        <!-- Ajusta según altura de navbar -->
        <section id="home">
            <app-home />
        </section>

        <section id="about">
            <app-about />
        </section>

        <section id="projects">
            <app-projects />
        </section>

        <section id="experience">
            <app-experience />
        </section>

        <section id="contact">
            <app-contact />
        </section>
    </shared-container>
    <!-- NAME -->
    <div
        class="border-border flex flex-col items-center justify-center gap-1 border pt-6 pb-16"
    >
        <div class="text-secondary flex items-center text-xs">
            <h1>© 2025 Ismael López. Build with</h1>
            <img src="icons/angular.svg" alt="angular" class="mx-1.5 w-4" />
            <span> and </span>
            <img
                src="icons/tailwindcss.svg"
                alt="tailwindcss"
                class="mx-1.5 w-4"
            />
        </div>
        <div class="flex items-center gap-2">
            <h1 class="text-secondary text-xs">Hosted by</h1>
            <i class="fa-brands fa-github text-primary"></i>
        </div>
    </div>
</div>
