<div
  class="bg-primary z-0 flex h-full flex-col items-center justify-center overflow-y-visible p-8 landscape:py-40 md:landscape:flex-row md:landscape:gap-4"
>
  <div>
    @defer (on viewport) {
      <img
        class="size-70 rounded-full object-cover"
        src="/images/IMG_2675_enhanced.jpg"
        alt="myself"
      />
    } @placeholder {
      <div class="bg-accent size-70 animate-pulse rounded-full"></div>
    }
  </div>

  <div class="flex flex-col items-center md:landscape:items-start">
    <h2 class="text-tertiary mt-4 text-lg font-medium uppercase">
      ismael lopez
    </h2>
    <h1 class="text-bone mt-4 text-center text-5xl font-normal">
      Frontend Developer
    </h1>
    <h3 class="text-tertiary mt-2 text-center text-xl font-extralight">
      Passionate about <span class="font-bold">tech</span> , having
      <span class="font-bold">fun</span> and
      <span class="font-bold">learning</span>
      new things
    </h3>
  </div>
</div>
