<div class="bg-background">
    <div class="fixed top-0 w-full">
        <shared-navbar />
    </div>

    <shared-container class="pt-20">
        <!-- Ajusta según altura de navbar -->
        <section id="home">
            <app-home />
        </section>

        <section id="about">
            <app-about />
        </section>

        <section id="projects">
            <app-projects />
        </section>

        <section id="experience">
            <app-experience />
        </section>

        <section id="contact">
            <app-contact />
        </section>
    </shared-container>
    <!-- DIVIDER -->
    <div class="flex items-center text-xs">
        <div class="bg-border h-px flex-1"></div>

        <div
            class="text-secondary flex flex-none items-baseline gap-1 px-2 whitespace-nowrap"
            (click)="backToTop()"
        >
            <i class="fa-solid fa-arrow-up"></i>
            <h1 class="text-[8px] uppercase">back to top</h1>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="flex flex-col items-center justify-center py-10">
        <div class="text-secondary flex items-center text-xs">
            <h1>© {{ date.getFullYear() }} Ismael López. Build with</h1>
            <img src="icons/angular.svg" alt="angular" class="mx-1.5 w-4" />
            <span> and </span>
            <img
                src="icons/tailwindcss.svg"
                alt="tailwindcss"
                class="mx-1.5 w-4"
            />
        </div>
        <div class="flex items-center gap-2">
            <h1 class="text-secondary text-xs">Hosted by</h1>
            <i class="fa-brands fa-github text-primary"></i>
        </div>
    </div>

    <a [routerLink]="'/sign-in'">
        <div
            class="text-background hover:text-secondary flex items-center justify-center gap-1 text-[8px] uppercase"
        >
            <h1>Sign in</h1>
            <i class="fa-solid fa-user"></i>
        </div>
    </a>
</div>
