/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary: #141414;
  --color-secondary: #1f1f1f;
  --color-accent: #292929;
  --color-tertiary: #5c5c5c;
  --color-bone: #f6f6f3;
  --color-cream: #d4d2c4;
}

* {
  font-family: var(--font-roboto);
}
