/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-nunito: 'Nunito', sans-serif;

  --color-background: #ffffff;
  --color-secondary: #9d9d9d;
  --color-terciary: #dbdbdb;
  --color-text-primary: #0a0a0a;
  --color-text-secondary: #545454;
}

* {
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 80px;
}

section {
  scroll-margin-top: var(--navbar-height);
}
