/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #f8f8f8;
    --color-surface: #dcdcdc;
    --color-border: #e9e8e8;
    --color-primary: #000000;
    --color-secondary: #848484;
    --color-accent: #60a5fa;
  }
}

.dark {
  --color-background: #0f0f0f;
  --color-surface: #2c2c2c;
  --color-border: #1c1c1c;
  --color-primary: #f1f1f1;
  --color-secondary: #848484;
  --color-accent: #60a5fa;
}

* {
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 80px;
}

section {
  scroll-margin-top: var(--navbar-height);
}
